In [17]:
#importing important libraries
#!pip install python-dotenv decorator==4.3 networkx
#!pip install pycoingecko
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import pprint
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

%matplotlib inline

In [22]:
# Set the variables for the Alpaca API and secret keys
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [76]:
# Format current date as ISO format
start_date = pd.Timestamp("2019-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-06-05", tz="America/New_York").isoformat()

In [96]:
# Set the tickers
tickers =["TLT","VGLT","VOOG","VMBS","IWF","IGSB","GOVT","AGZ","AAPL","AMZN","CCOI", "PG","BA","NVDA","BRK-A","GS","COP","GILD","BTC","ETH","LTE.V"]

In [97]:
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"
data_set= (tickers, timeframe, start_date, end_date)
#set the limit to retrieve
lim = 1000

In [98]:
# Load .env environment variables
load_dotenv()

True

In [99]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [100]:
# Get portfolio data
portfolio_df = pd.DataFrame()
# Get closing prices of client portfolio from alpaca
portfolio_df = alpaca.get_barset(tickers,timeframe,start = start_date,end = end_date,limit=lim).df
portfolio_df.head()

                             AAPL                                        \
                             open      high     low     close    volume
time
2019-01-02 05:00:00+00:00  154.89  158.8500  154.23  157.5225  27803621
2019-01-03 05:00:00+00:00  143.98  145.7200  142.00  142.2900  82418448
2019-01-04 05:00:00+00:00  144.53  148.5499  143.80  148.1200  51267225
2019-01-07 05:00:00+00:00  148.70  148.8300  145.90  147.9100  49982480
2019-01-08 05:00:00+00:00  149.56  151.8200  148.52  150.6300  36592406

                                AGZ                                         \
                               open      high       low     close   volume
time
2019-01-02 05:00:00+00:00  112.2413  112.3100  112.1500  112.2100  24927.0
2019-01-03 05:00:00+00:00  112.3244  112.7100  112.2901  112.6800  10395.0
2019-01-04 05:00:00+00:00  112.4700  112.4700  112.2601  112.3800  32515.0
2019-01-07 05:00:00+00:00  112.4100  112.4100  112.1101  112.1782  85003.0
2019-01-08 05:00:00+00:00  112.1000  112.1491  112.0100  112.0597  97106.0

                           ...   VMBS                                     \
                           ...   open   high      low   close     volume
time                       ...
2019-01-02 05:00:00+00:00  ...  51.55  51.58  51.4700  51.570   991558.0
2019-01-03 05:00:00+00:00  ...  51.57  51.76  51.5587  51.750   629577.0
2019-01-04 05:00:00+00:00  ...  51.68  51.69  51.5700  51.600   674896.0
2019-01-07 05:00:00+00:00  ...  51.62  51.66  51.5500  51.550  1107942.0
2019-01-08 05:00:00+00:00  ...  51.49  51.56  51.4868  51.515   417253.0

                             VOOG
                             open     high      low     close    volume
time
2019-01-02 05:00:00+00:00  132.70  135.290  132.630  134.6500  235921.0
2019-01-03 05:00:00+00:00  133.87  134.210  131.380  131.5400  174457.0
2019-01-04 05:00:00+00:00  133.41  136.530  133.100  136.0800  196307.0
2019-01-07 05:00:00+00:00  136.29  138.030  135.932  137.2629  263875.0
2019-01-08 05:00:00+00:00  138.61  139.055  137.040  138.7100  174814.0

[5 rows x 105 columns]

# portfolio based on risk level

# Zero risk portfolio

In [101]:
#Zero risk portfolio: Treasury bonds held to maturity, money market accounts, and CDs where the FDIC guarantees up to $250,000 in losses per person.
#  Treasury bonds(100% )
zero_risk=portfolio_df[["TLT","VGLT","VOOG","VMBS","IWF","IGSB","GOVT","AGZ"]]
zero_risk.dropna()

                               TLT                                         \
                              open    high       low    close      volume
time
2019-01-02 05:00:00+00:00  121.660  122.15  121.3401  122.150  12607009.0
2019-01-03 05:00:00+00:00  122.290  123.86  122.2267  123.535  17221067.0
2019-01-04 05:00:00+00:00  122.340  122.56  121.6500  122.210  10034779.0
2019-01-07 05:00:00+00:00  122.620  122.65  121.6200  121.765   6743432.0
2019-01-08 05:00:00+00:00  121.690  121.94  121.3900  121.405   6932971.0
...                            ...     ...       ...      ...         ...
2021-05-28 04:00:00+00:00  138.582  139.30  138.3400  138.340   9346538.0
2021-06-01 04:00:00+00:00  137.820  138.26  137.2500  138.220   9842975.0
2021-06-02 04:00:00+00:00  138.540  138.79  138.3200  138.510   5597133.0
2021-06-03 04:00:00+00:00  138.510  138.51  137.8450  138.002   9221502.0
2021-06-04 04:00:00+00:00  138.520  139.89  138.5200  139.885  13573285.0

                             VGLT                                    ...  \
                             open    high     low   close    volume  ...
time                                                                 ...
2019-01-02 05:00:00+00:00  74.840  75.160  74.640  75.120  644345.0  ...
2019-01-03 05:00:00+00:00  75.240  76.180  75.240  76.000  195049.0  ...
2019-01-04 05:00:00+00:00  75.260  75.365  74.860  75.170  681599.0  ...
2019-01-07 05:00:00+00:00  75.430  75.440  74.830  74.920  103657.0  ...
2019-01-08 05:00:00+00:00  74.850  75.020  74.693  74.720   87466.0  ...
...                           ...     ...     ...     ...       ...  ...
2021-05-28 04:00:00+00:00  84.420  84.830  84.320  84.320  481233.0  ...
2021-06-01 04:00:00+00:00  83.970  84.190  83.630  84.180  514608.0  ...
2021-06-02 04:00:00+00:00  84.350  84.500  84.240  84.338  382701.0  ...
2021-06-03 04:00:00+00:00  84.325  84.340  83.960  84.050  464158.0  ...
2021-06-04 04:00:00+00:00  84.380  85.140  84.380  85.140  436257.0  ...

                            GOVT                                       \
                            open     high    low    close      volume
time
2019-01-02 05:00:00+00:00  24.82  24.8500  24.80  24.8400  18289450.0
2019-01-03 05:00:00+00:00  24.87  25.0000  24.85  24.9900   3219082.0
2019-01-04 05:00:00+00:00  24.88  24.8817  24.83  24.8549   2140498.0
2019-01-07 05:00:00+00:00  24.87  24.8900  24.80  24.8000   2547670.0
2019-01-08 05:00:00+00:00  24.79  24.8000  24.76  24.7650   2198549.0
...                          ...      ...    ...      ...         ...
2021-05-28 04:00:00+00:00  26.37  26.4200  26.35  26.3600   4069920.0
2021-06-01 04:00:00+00:00  26.34  26.3550  26.30  26.3450   3061947.0
2021-06-02 04:00:00+00:00  26.36  26.3800  26.35  26.3700   3254388.0
2021-06-03 04:00:00+00:00  26.35  26.3550  26.31  26.3250   2178352.0
2021-06-04 04:00:00+00:00  26.36  26.4373  26.36  26.4350   3701116.0

                                AGZ
                               open      high       low     close   volume
time
2019-01-02 05:00:00+00:00  112.2413  112.3100  112.1500  112.2100  24927.0
2019-01-03 05:00:00+00:00  112.3244  112.7100  112.2901  112.6800  10395.0
2019-01-04 05:00:00+00:00  112.4700  112.4700  112.2601  112.3800  32515.0
2019-01-07 05:00:00+00:00  112.4100  112.4100  112.1101  112.1782  85003.0
2019-01-08 05:00:00+00:00  112.1000  112.1491  112.0100  112.0597  97106.0
...                             ...       ...       ...       ...      ...
2021-05-28 04:00:00+00:00  118.2400  118.3900  118.2400  118.3400  38588.0
2021-06-01 04:00:00+00:00  118.1300  118.2000  118.1200  118.1800  31174.0
2021-06-02 04:00:00+00:00  118.3400  118.3400  118.2400  118.2600  14638.0
2021-06-03 04:00:00+00:00  118.2000  118.2000  118.1258  118.1700  13757.0
2021-06-04 04:00:00+00:00  118.1900  118.3800  118.1900  118.3300  62693.0

[607 rows x 40 columns]

# Lower Risk portfolio (80% bonds and 20% stocks)

In [102]:
#Lower Risk portfolio (80% bonds and 20% stocks)
lower_risk_portfolio = portfolio_df[["TLT","VGLT","VOOG","VMBS","IWF","IGSB","GOVT","AGZ","AAPL","AMZN"]]
lower_risk_portfolio.dropna()

                               TLT                                         \
                              open    high       low    close      volume
time
2019-01-02 05:00:00+00:00  121.660  122.15  121.3401  122.150  12607009.0
2019-01-03 05:00:00+00:00  122.290  123.86  122.2267  123.535  17221067.0
2019-01-04 05:00:00+00:00  122.340  122.56  121.6500  122.210  10034779.0
2019-01-07 05:00:00+00:00  122.620  122.65  121.6200  121.765   6743432.0
2019-01-08 05:00:00+00:00  121.690  121.94  121.3900  121.405   6932971.0
...                            ...     ...       ...      ...         ...
2021-05-28 04:00:00+00:00  138.582  139.30  138.3400  138.340   9346538.0
2021-06-01 04:00:00+00:00  137.820  138.26  137.2500  138.220   9842975.0
2021-06-02 04:00:00+00:00  138.540  138.79  138.3200  138.510   5597133.0
2021-06-03 04:00:00+00:00  138.510  138.51  137.8450  138.002   9221502.0
2021-06-04 04:00:00+00:00  138.520  139.89  138.5200  139.885  13573285.0

                             VGLT                                    ...  \
                             open    high     low   close    volume  ...
time                                                                 ...
2019-01-02 05:00:00+00:00  74.840  75.160  74.640  75.120  644345.0  ...
2019-01-03 05:00:00+00:00  75.240  76.180  75.240  76.000  195049.0  ...
2019-01-04 05:00:00+00:00  75.260  75.365  74.860  75.170  681599.0  ...
2019-01-07 05:00:00+00:00  75.430  75.440  74.830  74.920  103657.0  ...
2019-01-08 05:00:00+00:00  74.850  75.020  74.693  74.720   87466.0  ...
...                           ...     ...     ...     ...       ...  ...
2021-05-28 04:00:00+00:00  84.420  84.830  84.320  84.320  481233.0  ...
2021-06-01 04:00:00+00:00  83.970  84.190  83.630  84.180  514608.0  ...
2021-06-02 04:00:00+00:00  84.350  84.500  84.240  84.338  382701.0  ...
2021-06-03 04:00:00+00:00  84.325  84.340  83.960  84.050  464158.0  ...
2021-06-04 04:00:00+00:00  84.380  85.140  84.380  85.140  436257.0  ...

                             AAPL                                        \
                             open      high     low     close    volume
time
2019-01-02 05:00:00+00:00  154.89  158.8500  154.23  157.5225  27803621
2019-01-03 05:00:00+00:00  143.98  145.7200  142.00  142.2900  82418448
2019-01-04 05:00:00+00:00  144.53  148.5499  143.80  148.1200  51267225
2019-01-07 05:00:00+00:00  148.70  148.8300  145.90  147.9100  49982480
2019-01-08 05:00:00+00:00  149.56  151.8200  148.52  150.6300  36592406
...                           ...       ...     ...       ...       ...
2021-05-28 04:00:00+00:00  125.57  125.8000  124.55  124.6200  61946057
2021-06-01 04:00:00+00:00  125.07  125.3500  123.94  124.3000  58891765
2021-06-02 04:00:00+00:00  124.29  125.2400  124.05  125.0900  51393692
2021-06-03 04:00:00+00:00  124.66  124.8500  123.13  123.5550  68331470
2021-06-04 04:00:00+00:00  124.07  126.1600  123.85  125.8800  63613126

                              AMZN
                              open      high        low     close   volume
time
2019-01-02 05:00:00+00:00  1465.20  1553.360  1460.9300  1536.730  7132821
2019-01-03 05:00:00+00:00  1520.01  1538.000  1498.1062  1502.070  6340704
2019-01-04 05:00:00+00:00  1530.00  1594.000  1518.3100  1574.540  8285596
2019-01-07 05:00:00+00:00  1602.31  1634.560  1589.1850  1631.120  7252880
2019-01-08 05:00:00+00:00  1664.69  1676.610  1616.6100  1655.835  8184304
...                            ...       ...        ...       ...      ...
2021-05-28 04:00:00+00:00  3244.81  3247.990  3219.7000  3224.680  2057533
2021-06-01 04:00:00+00:00  3242.98  3250.980  3209.0600  3218.650  2074039
2021-06-02 04:00:00+00:00  3222.01  3235.000  3208.0000  3234.920  1679415
2021-06-03 04:00:00+00:00  3205.00  3214.435  3184.0300  3187.940  2079219
2021-06-04 04:00:00+00:00  3212.58  3221.000  3198.8100  3206.220  1955470

[607 rows x 50 columns]

# Low Medium Risk portfolio(60% bonds and 40% stocks)

In [103]:

low_medium_risk_portfolio=portfolio_df[["TLT","VGLT","VOOG","VMBS","IWF","IGSB","AAPL","AMZN","BA","NVDA"]]
low_medium_risk_portfolio.dropna()

                               TLT                                         \
                              open    high       low    close      volume
time
2019-01-02 05:00:00+00:00  121.660  122.15  121.3401  122.150  12607009.0
2019-01-03 05:00:00+00:00  122.290  123.86  122.2267  123.535  17221067.0
2019-01-04 05:00:00+00:00  122.340  122.56  121.6500  122.210  10034779.0
2019-01-07 05:00:00+00:00  122.620  122.65  121.6200  121.765   6743432.0
2019-01-08 05:00:00+00:00  121.690  121.94  121.3900  121.405   6932971.0
...                            ...     ...       ...      ...         ...
2021-05-28 04:00:00+00:00  138.582  139.30  138.3400  138.340   9346538.0
2021-06-01 04:00:00+00:00  137.820  138.26  137.2500  138.220   9842975.0
2021-06-02 04:00:00+00:00  138.540  138.79  138.3200  138.510   5597133.0
2021-06-03 04:00:00+00:00  138.510  138.51  137.8450  138.002   9221502.0
2021-06-04 04:00:00+00:00  138.520  139.89  138.5200  139.885  13573285.0

                             VGLT                                    ...  \
                             open    high     low   close    volume  ...
time                                                                 ...
2019-01-02 05:00:00+00:00  74.840  75.160  74.640  75.120  644345.0  ...
2019-01-03 05:00:00+00:00  75.240  76.180  75.240  76.000  195049.0  ...
2019-01-04 05:00:00+00:00  75.260  75.365  74.860  75.170  681599.0  ...
2019-01-07 05:00:00+00:00  75.430  75.440  74.830  74.920  103657.0  ...
2019-01-08 05:00:00+00:00  74.850  75.020  74.693  74.720   87466.0  ...
...                           ...     ...     ...     ...       ...  ...
2021-05-28 04:00:00+00:00  84.420  84.830  84.320  84.320  481233.0  ...
2021-06-01 04:00:00+00:00  83.970  84.190  83.630  84.180  514608.0  ...
2021-06-02 04:00:00+00:00  84.350  84.500  84.240  84.338  382701.0  ...
2021-06-03 04:00:00+00:00  84.325  84.340  83.960  84.050  464158.0  ...
2021-06-04 04:00:00+00:00  84.380  85.140  84.380  85.140  436257.0  ...

                               BA                                        \
                             open      high     low     close    volume
time
2019-01-02 05:00:00+00:00  316.19  323.8700  313.71  322.8500   2534299
2019-01-03 05:00:00+00:00  319.49  319.7400  309.40  311.6971   4763732
2019-01-04 05:00:00+00:00  316.69  328.4400  316.08  326.7000   3562011
2019-01-07 05:00:00+00:00  330.52  330.6900  323.35  328.1400   3001576
2019-01-08 05:00:00+00:00  334.11  341.2500  332.65  340.5447   4035256
...                           ...       ...     ...       ...       ...
2021-05-28 04:00:00+00:00  247.55  248.9800  245.37  247.0300  10430435
2021-06-01 04:00:00+00:00  252.61  255.6400  251.52  254.7000  12768720
2021-06-02 04:00:00+00:00  255.60  258.3957  254.62  255.6000  10115878
2021-06-03 04:00:00+00:00  252.98  254.8000  249.69  250.2850   9833214
2021-06-04 04:00:00+00:00  251.57  251.7999  248.49  249.9600   8439246

                             NVDA
                             open      high       low    close      volume
time
2019-01-02 05:00:00+00:00  130.64  138.4800  130.0500  136.000  10849501.0
2019-01-03 05:00:00+00:00  133.79  135.1600  127.6932  128.370  15496092.0
2019-01-04 05:00:00+00:00  130.94  137.7300  129.7000  135.850  13378304.0
2019-01-07 05:00:00+00:00  138.50  144.8900  136.4300  143.610  16318300.0
2019-01-08 05:00:00+00:00  146.69  146.7800  136.9000  139.600  18128834.0
...                           ...       ...       ...      ...         ...
2021-05-28 04:00:00+00:00  620.29  651.0990  620.0400  649.800  15268212.0
2021-06-01 04:00:00+00:00  650.88  655.5250  636.1300  650.590  10915414.0
2021-06-02 04:00:00+00:00  649.91  676.7547  649.4200  671.245  14245330.0
2021-06-03 04:00:00+00:00  668.01  690.3600  663.3200  678.670  13465435.0
2021-06-04 04:00:00+00:00  684.49  706.4400  683.8200  703.070  14631371.0

[607 rows x 50 columns]

# Medium Risk Portfolio (60% stocks and 40% bonds)

In [104]:
medium_risk_portfolio= portfolio_df[["TLT","VGLT","VOOG","VMBS","AAPL","AMZN","BA","NVDA","GS"]]
medium_risk_portfolio.dropna()

                               TLT                                         \
                              open    high       low    close      volume
time
2019-01-02 05:00:00+00:00  121.660  122.15  121.3401  122.150  12607009.0
2019-01-03 05:00:00+00:00  122.290  123.86  122.2267  123.535  17221067.0
2019-01-04 05:00:00+00:00  122.340  122.56  121.6500  122.210  10034779.0
2019-01-07 05:00:00+00:00  122.620  122.65  121.6200  121.765   6743432.0
2019-01-08 05:00:00+00:00  121.690  121.94  121.3900  121.405   6932971.0
...                            ...     ...       ...      ...         ...
2021-05-28 04:00:00+00:00  138.582  139.30  138.3400  138.340   9346538.0
2021-06-01 04:00:00+00:00  137.820  138.26  137.2500  138.220   9842975.0
2021-06-02 04:00:00+00:00  138.540  138.79  138.3200  138.510   5597133.0
2021-06-03 04:00:00+00:00  138.510  138.51  137.8450  138.002   9221502.0
2021-06-04 04:00:00+00:00  138.520  139.89  138.5200  139.885  13573285.0

                             VGLT                                    ...  \
                             open    high     low   close    volume  ...
time                                                                 ...
2019-01-02 05:00:00+00:00  74.840  75.160  74.640  75.120  644345.0  ...
2019-01-03 05:00:00+00:00  75.240  76.180  75.240  76.000  195049.0  ...
2019-01-04 05:00:00+00:00  75.260  75.365  74.860  75.170  681599.0  ...
2019-01-07 05:00:00+00:00  75.430  75.440  74.830  74.920  103657.0  ...
2019-01-08 05:00:00+00:00  74.850  75.020  74.693  74.720   87466.0  ...
...                           ...     ...     ...     ...       ...  ...
2021-05-28 04:00:00+00:00  84.420  84.830  84.320  84.320  481233.0  ...
2021-06-01 04:00:00+00:00  83.970  84.190  83.630  84.180  514608.0  ...
2021-06-02 04:00:00+00:00  84.350  84.500  84.240  84.338  382701.0  ...
2021-06-03 04:00:00+00:00  84.325  84.340  83.960  84.050  464158.0  ...
2021-06-04 04:00:00+00:00  84.380  85.140  84.380  85.140  436257.0  ...

                             NVDA                                           \
                             open      high       low    close      volume
time
2019-01-02 05:00:00+00:00  130.64  138.4800  130.0500  136.000  10849501.0
2019-01-03 05:00:00+00:00  133.79  135.1600  127.6932  128.370  15496092.0
2019-01-04 05:00:00+00:00  130.94  137.7300  129.7000  135.850  13378304.0
2019-01-07 05:00:00+00:00  138.50  144.8900  136.4300  143.610  16318300.0
2019-01-08 05:00:00+00:00  146.69  146.7800  136.9000  139.600  18128834.0
...                           ...       ...       ...      ...         ...
2021-05-28 04:00:00+00:00  620.29  651.0990  620.0400  649.800  15268212.0
2021-06-01 04:00:00+00:00  650.88  655.5250  636.1300  650.590  10915414.0
2021-06-02 04:00:00+00:00  649.91  676.7547  649.4200  671.245  14245330.0
2021-06-03 04:00:00+00:00  668.01  690.3600  663.3200  678.670  13465435.0
2021-06-04 04:00:00+00:00  684.49  706.4400  683.8200  703.070  14631371.0

                               GS
                             open      high       low     close   volume
time
2019-01-02 05:00:00+00:00  164.33  172.2500  163.3500  171.5600  3592312
2019-01-03 05:00:00+00:00  170.66  171.7700  168.2900  169.6300  3462254
2019-01-04 05:00:00+00:00  172.99  176.0000  171.1000  175.4901  2794038
2019-01-07 05:00:00+00:00  175.23  177.8250  172.2700  176.0700  2609770
2019-01-08 05:00:00+00:00  177.78  178.0999  172.9000  175.3200  2306569
...                           ...       ...       ...       ...      ...
2021-05-28 04:00:00+00:00  372.00  373.0700  368.2600  372.0600  1724245
2021-06-01 04:00:00+00:00  377.70  383.3600  376.3100  382.3500  3241763
2021-06-02 04:00:00+00:00  383.56  384.6650  379.3700  383.4600  2225715
2021-06-03 04:00:00+00:00  382.67  391.2500  380.1349  388.7100  2740101
2021-06-04 04:00:00+00:00  389.68  392.0500  386.3200  391.4500  2198261

[607 rows x 45 columns]

# Medium High Risk portfolio(70% stocks and 30% bonds)

In [106]:
medium_high_risk_portfolio = portfolio_df[["AAPL","AMZN", "BA","NVDA","BRK-A","GS","COP","TLT","VGLT","VOOG"]]
medium_high_risk_portfolio

                             AAPL                                        \
                             open      high     low     close    volume
time
2019-01-02 05:00:00+00:00  154.89  158.8500  154.23  157.5225  27803621
2019-01-03 05:00:00+00:00  143.98  145.7200  142.00  142.2900  82418448
2019-01-04 05:00:00+00:00  144.53  148.5499  143.80  148.1200  51267225
2019-01-07 05:00:00+00:00  148.70  148.8300  145.90  147.9100  49982480
2019-01-08 05:00:00+00:00  149.56  151.8200  148.52  150.6300  36592406
...                           ...       ...     ...       ...       ...
2021-05-28 04:00:00+00:00  125.57  125.8000  124.55  124.6200  61946057
2021-06-01 04:00:00+00:00  125.07  125.3500  123.94  124.3000  58891765
2021-06-02 04:00:00+00:00  124.29  125.2400  124.05  125.0900  51393692
2021-06-03 04:00:00+00:00  124.66  124.8500  123.13  123.5550  68331470
2021-06-04 04:00:00+00:00  124.07  126.1600  123.85  125.8800  63613126

                              AMZN                                          \
                              open      high        low     close   volume
time
2019-01-02 05:00:00+00:00  1465.20  1553.360  1460.9300  1536.730  7132821
2019-01-03 05:00:00+00:00  1520.01  1538.000  1498.1062  1502.070  6340704
2019-01-04 05:00:00+00:00  1530.00  1594.000  1518.3100  1574.540  8285596
2019-01-07 05:00:00+00:00  1602.31  1634.560  1589.1850  1631.120  7252880
2019-01-08 05:00:00+00:00  1664.69  1676.610  1616.6100  1655.835  8184304
...                            ...       ...        ...       ...      ...
2021-05-28 04:00:00+00:00  3244.81  3247.990  3219.7000  3224.680  2057533
2021-06-01 04:00:00+00:00  3242.98  3250.980  3209.0600  3218.650  2074039
2021-06-02 04:00:00+00:00  3222.01  3235.000  3208.0000  3234.920  1679415
2021-06-03 04:00:00+00:00  3205.00  3214.435  3184.0300  3187.940  2079219
2021-06-04 04:00:00+00:00  3212.58  3221.000  3198.8100  3206.220  1955470

                           ...    VGLT                                    \
                           ...    open    high     low   close    volume
time                       ...
2019-01-02 05:00:00+00:00  ...  74.840  75.160  74.640  75.120  644345.0
2019-01-03 05:00:00+00:00  ...  75.240  76.180  75.240  76.000  195049.0
2019-01-04 05:00:00+00:00  ...  75.260  75.365  74.860  75.170  681599.0
2019-01-07 05:00:00+00:00  ...  75.430  75.440  74.830  74.920  103657.0
2019-01-08 05:00:00+00:00  ...  74.850  75.020  74.693  74.720   87466.0
...                        ...     ...     ...     ...     ...       ...
2021-05-28 04:00:00+00:00  ...  84.420  84.830  84.320  84.320  481233.0
2021-06-01 04:00:00+00:00  ...  83.970  84.190  83.630  84.180  514608.0
2021-06-02 04:00:00+00:00  ...  84.350  84.500  84.240  84.338  382701.0
2021-06-03 04:00:00+00:00  ...  84.325  84.340  83.960  84.050  464158.0
2021-06-04 04:00:00+00:00  ...  84.380  85.140  84.380  85.140  436257.0

                             VOOG
                             open      high      low     close    volume
time
2019-01-02 05:00:00+00:00  132.70  135.2900  132.630  134.6500  235921.0
2019-01-03 05:00:00+00:00  133.87  134.2100  131.380  131.5400  174457.0
2019-01-04 05:00:00+00:00  133.41  136.5300  133.100  136.0800  196307.0
2019-01-07 05:00:00+00:00  136.29  138.0300  135.932  137.2629  263875.0
2019-01-08 05:00:00+00:00  138.61  139.0550  137.040  138.7100  174814.0
...                           ...       ...      ...       ...       ...
2021-05-28 04:00:00+00:00  249.16  249.9187  248.550  248.6400   42638.0
2021-06-01 04:00:00+00:00  249.79  249.7900  247.235  247.4100   69932.0
2021-06-02 04:00:00+00:00  247.84  248.5476  246.905  247.8500   39023.0
2021-06-03 04:00:00+00:00  246.09  246.9300  244.960  246.0500   53405.0
2021-06-04 04:00:00+00:00  247.37  249.6100  247.370  249.3500   38915.0

[611 rows x 50 columns]